


#header{
	text-align: center;
	border-bottom: 1px solid black;
	max-width: 100%;
	height: 50px;
	line-height: 50px;
}

#great-grand-dad{
	display: inline-block;
	max-width: 100vw;
	max-height: 100vw;
	position: relative;
	padding-top: 10px;
}